Q-1] In the below elements which of them are values or an expression? eg:-values can be integer or strings and expression will be mathematical operators.

Ans:-The operators are +, -, *, and /.
    The values are 'hello',-88.8, and 5.

Q-2] What is the difference between string and variable?

Ans :- The String is 'spam';the variable is spam. Strings always start and end with quotes.

Q-3] Describe three different data types?

Ans:- The three data types introduced in this chapter are integers,floating-point numbers, and strings.

Q-4] What is an expression made up of? What do all expression do?

Ans:- An expression is a combination of values and operators. All expression evaluate (that is, reduce) to a single value.

Q-5] This assignment statements, like spam =10. What is the difference between an expression and a statement?

Ans:- An expression  evaluates to a single value. A statement does not

Q-6]After running the following code , what does the variable bacon contain?
    bacon = 22   bacon +1

Ans:- The bacon variable is set to 20. The bacon +1 expression does not reassign the value in bacon (that would need an assignment statement : bacon = bacon+1)

Q-7]What should the values of the following two term be?

In [6]:
Ans: 'spam' + 'spamspam'
'spam' * 3
# Both expression evaluate to string'spamspamspam'.

'spamspamspam'

Q-8]Why is eggs a valid variable  name while 100 is invalid?

Ans:- Variable names cannot begin with a number.

Q-9]What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:-The int(),float(), and str() function will evaluate to the integer, floating-point number, and string versions od the value passed to them.

Q-10]Why does this expression cause an error? How can you fix it?

Ans:-The expression couses an error because 99 is an integer,and only strings can be concatenated to other strings with the + operator.

In [8]:
# The correct way is 
'I have eaten  ' + str(99) + '  burritos.'

'I have eaten  99  burritos.'